/*
 *  Basic
 */  

html {
    height: 100%;
}

body {
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-family: sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    margin: 16px 0px 16px 0px;
}

p {
    margin: 16px;
}

a {
    color: goldenrod;
    text-decoration: none;
}

h1, h2, h3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #555555;
}

li {
    padding-bottom: 10px;
}

svg {
    stroke: #888888;
    fill: #888888;
    padding-right: 8px;
}

/*
 *  Grid container
 */

.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    border-width: 1px;
    border-style: solid;
    border-color: #555;
}

.container > .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border-bottom-width: 1px;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-style: solid;
  border-color: #555555;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 10px;
  padding: 10px;
}

.container > .row > .column {
  display: grid;
  align-items: center;
}

.container > .row > .column > span {
}

.container > .row.header {
  font-weight: bold;
}

.column.right {
  text-align: right;
}

.column.middle {
}

/*
 *  Media
 */

@media (max-width: 500px) {
  .column.middle > span {
    display: none;
  }
  body {
    font-size: 10pt;
  }
}

/*
 *  Special sections
 */

section.simple {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

section.head {
  border-bottom-style: solid;
  border-bottom-color: #555555;
  padding: 0px 20px 0px 20px;
  margin-bottom: 25px;
}

section.head > span {
  display: inline-block;
}

section.head > span > h2 {
  border-style: none;
}

section.head > span > h3 {
  border-style: none;
}

/*
 *  Footer
 */

footer.footer {
    height: 50px;
    border-top-style: solid;
    border-top-color: #555555;
    padding-top: 10px;
    font-size: 8pt;
    text-align: center;
    color: #888888;
    margin-top: 20px;
}

footer.footer > span {
}

/*
 *  Just formatting
 */

.textIcon {
    width: 20px;
    filter: invert(75%);
    padding-right: 5px;
}

.image {
    margin-top: 15px;
    margin-bottom: 15px;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.video {
    margin-top: 15px;
    margin-bottom: 15px;
}

.video video {
    height: 500px;
    display: block;
    width: 100%;
}

.audio {
    margin-top: 15px;
    margin-bottom: 15px;
}

.audio audio {
    display: block;
    width: 100%;
}

.codeBlock pre {
    display: flex;
    padding: 5px 5px 5px 5px;
}

code  {
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
}

.file-tree {
    display: block;
}

/* 
 *  Converted markdown 
 */

.markdown {
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
    padding: 0px 20px 20px 20px;
    font-size: 8pt;
}

.markdown > ul {
    padding: 0px 0px 0px 20px;
}

.markdown > code {
    border-style: none;
    font-weight: bold;
    font-style: italic;
}

.markdown .sourceCode {
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
    margin: 0px 0px 0px 0px;
    background-color: #383838;
}

.markdown .sourceCode > code {
    border-style: none;
    font-weight: normal;
    font-style: normal;
}

.markdown .sourceCode > pre {
    padding: 5px 5px 5px 5px;
}

.markdown > p {
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*
 *  HLJS 
 */

.hljs {
    width: 100%;
    font-size: 12px;
}

/* 
 *  Audio player 
 */

.track {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
}
  
.track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.track .title {
    line-height: 4vw;
    font-size: 14pt;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.controls {
    
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

#playbtn {
    border-radius: 50%;
    width: 50px;
    height: 100%;
    background-color: goldenrod;
    border: 2px solid goldenrod;
    font-size: 20pt;
    font-weight: bold;
}

#playbtn:hover {
    opacity: 0.7;
}

#prevbtn {
    display: inline-block;
    border: 2px solid goldenrod;
    width: 50px;
    height: 50%;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-weight: bold;
}

#prevbtn:hover {
    opacity: 0.7;
}

#nextbtn {
    border: 2px solid goldenrod;
    width: 50px;
    height: 50%;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-weight: bold;
}

#nextbtn:hover {
    opacity: 0.7;
}

