/* * { padding: 0; margin: 0; } */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-size: 14pt;
    font-family: sans-serif;
    height: 100%;
    margin: 10px 40px 10px 40px;
}

.main {
    margin: 16px;
}


/* Hor line */
hr {
    margin: 16px 0px 16px 0px;
}

/* Paragraph */
p {
    margin: 16px;
}

/* Link */
a {
    color: goldenrod;
    text-decoration: none;
}

h1, h2, h3 {
    display: block;
    line-height: 4vw;
}

li {
    padding-bottom: 10px;
}
/* Footer */
.footer {
    height: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #555555;
    padding-top: 10px;
    font-size: 10pt;
    text-align: center;
    color: #888888;
    margin-top: -20px;
    margin-left: 16px;
    margin-right: 16px;
}

section {
    display: block;
}

/*Grid*/
.grid {
    display: grid;
	overflow: hidden;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-gap: 10px;
}

.grid ul {
	overflow: hidden;
}

.grid ul li {
    overflow: hidden;
}

.grid section {
    display: table;
    margin-bottom: 20px;
}

.grid section header {
    display: table-row;
    height: 40px;
}

.grid section header div {
    display: table-cell;
}

.grid section div {
    display: table-row;
    padding-top: 10px;
}

.grid section div div {
    display: table-cell;
}

/* Converted markdown */
.markdown {
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    /*height: 50px;*/
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
    margin: 20px 10px 16px 10px;
    padding: 0px 20px 20px 20px;
    font-size: 12pt;
    /*color: #888888;*/
}

.markdown ul {
    padding: 0px 0px 0px 20px;
}

.markdown h1, h2, h3 {
    padding: 10px 0px 10px 0px;
}

.markdown p {
    margin: 0px;
}

/* File tree */
.file-tree {
    display: block;
}

/* Player */
.track {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
}
  
.track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.track .title {
    line-height: 4vw;
    font-size: 14pt;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.controls {
    
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

#playbtn {
    border-radius: 50%;
    width: 50px;
    height: 100%;
    background-color: goldenrod;
    border: 2px solid goldenrod;
    font-size: 20pt;
    font-weight: bold;
}

#playbtn:hover {
    opacity: 0.7;
}

#prevbtn {
    display: inline-block;
    border: 2px solid goldenrod;
    width: 50px;
    height: 50%;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-weight: bold;
}

#prevbtn:hover {
    opacity: 0.7;
}

#nextbtn {
    border: 2px solid goldenrod;
    width: 50px;
    height: 50%;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-weight: bold;
}

#nextbtn:hover {
    opacity: 0.7;
}


