{% extends "base.html" %}
{% block content %}

{% if tracks %}

<section class="simple">
    <h3>{{ root }}</h3>

    <div class="container">
        <div class="row header">
            <div class="column left">
                <span>Title</span>
            </div>
            <div class="column right">
                <span>Duration</span>
            </div>
            <div class="column right">
                <span>#</span>
            </div>
        </div>
        {% for track in tracks %}
        <div class="row header">
            <div class="column left">
                <span><a href="{{ track.url }}">{{ track.name }}</a></span>
            </div>
            <div class="column right">
                <span>{{ track.duration }}</span>
            </div>
            <div class="column right">
                <span>{{ track.index + 1}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% elif albums %}

<section class="simple">
    <h3>{{ root }}</h3>

    <div class="container">
        <div class="row header">
            <div class="column left">
                <span>Title</span>
            </div>
            <div class="column right">
                <span>Year</span>
            </div>
        </div>
        {% for album in albums %}
        <div class="row header">
            <div class="column left">
                <span>
                    <a href="{{ album.url }}">{{ album.name }}</a>
                </span>
            </div>
            <div class="column right">
                <span>{{ album.year }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% else %}

<section class="simple">
    <h3>{{ root }}</h3>

    <div class="container">
        <div class="row header">
            <div class="column left">
                <span>Artist</span>
            </div>
        </div>
        {% for artist in artists %}
        <div class="row header">
            <div class="column left">
                <span>
                    <a href="{{ artist.url }}">{{ artist.name }}</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endif %}

{% endblock %}
