{% extends "base.html" %}
{% block content %}
<h3>{{ root }}</h3>
{% if tracks %}
<div class="controls">
    <button id="prevbtn">|&lt;</button>
    <button id="playbtn">&gt;</button>
    <button id="nextbtn">&gt;|</button>
    <input type="range" min="1" max="100" value="100" id="volume">
</div>
{% endif %} 
</h3>
<div class="grid">
    <section>
        <header>
            {% if tracks %}
            <div>#</div>
            <div>Title</div>
            <div>Duration</div>
            <div>Format</div>
            {% elif albums %}
            <div>Title</div>
            <div>Year</div>
            {% else %}
            <div>Artist</div>
            {% endif %}
        </header>
        
        {% if tracks %}
            {% for track in tracks %}
            <div>
                <div>
                    {{ track.index + 1 }}
                </div>
                <div>
                    <div id="track{{ track.index }}" class="track">
                        <div id="title{{ track.index }}" class="title"></div>
                    </div>
                </div>
                <div>
                    {{ track.duration }}
                </div>
                <div>
                    {{ track.format }}
                </div>
            </div>
            {% endfor %}

            <script src="/static/player.js"></script>
            <script>
                var player = new Player({{ tracks | safe }});
            </script>

        {% elif albums %}
            {% for album in albums %}
            <div>
                <div>
                    <a href="{{ album.url }}">{{ album.name }}</a>
                </div>
                <div>
                    {{ album.year }}
                </div>
            </div>
            {% endfor %}

        {% else %}
            {% for artist in artists %}
                <div>
                    <div>
                        <a href="{{ artist.url }}">{{ artist.name }}</a>
                    </div>
                </div>
            {% endfor %}           

        {% endif %}
    </section>
</div>
{% endblock %}
