<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <link href="/static/docutils-style.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
        <link href="/static/gruvbox-dark.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <section class="head">
            <span>
                <h2><a href={{ url_for("index") }}>{{ title }}</a></h2>
            </span>
            {% if subtitle %}
            <span>
                <h2>/ {{ subtitle }}</h2>
            </span>
            {% endif %}
        </section>

        {% block content %}
        {% endblock %}
        
        <footer class="footer">
            <span>
                © 2021 L-Nafaryus <a href="mailto:l.nafaryus@gmail.com">l.nafaryus@gmail.com</a>
            </span>
        </footer>
    </body>
</html>
