<!DOCTYPE HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <!--<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">-->
    </head>
    <body>
        <h1>ELNAFO</h1>
        <hr>
        {% block content %}{% endblock %}
        <footer>
            <center>
                Copyright 2021 L-Nafaryus <a href="mailto:l.nafaryus@gmail.com">l.nafaryus@gmail.com</a>
            </center>
        </footer>
    </body>
</html>
