{% extends "base.html" %}
{% block content %}
<div class="grid">
    <section>
        <header>
            <div>Name</div>
            <div>Last Changes</div>
        </header>
        {% for f in files %}
        <div>
            <div>
                {% if f.type == "file" %}
                <img class="textIcon" src="/static/file.png">
                {% else %}
                <img class="textIcon" src="/static/folder.png">
                {% endif %}
                <a href="{{ f.url }}">{{ f.name }}</a>
            </div>
            <div>{{ f.lastchanged }}</div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
