{% extends "base.html" %}
{% block content %}
<div class="grid">
    <section>
        <header>
            <div>Project</div>
            <div>Description</div>
            <div>Last Changes</div>
        </header>
        {% for p in projects %}
        <div>
            <div>
                <a href="{{ p.url }}">{{ p.name }}</a>
            </div>
            <div>{{ p.description }}</div>
            <div>{{ p.lastchanged }}</div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
