{% extends "base.html" %}
{% block content %}
<section class="simple">
    <div class="container">
        <div class="row header">
            <div class="column left">
                <span>Project</span>
            </div>
            <div class="column left">
                <span>Description</span>
            </div>
            <div class="column right">
                <span>Last changed</span>
            </div>
        </div>
        {% for project in projects %}
        <div class="row">
            <div class="column left">
                <span><a href="{{ project.url }}">{{ project.name }}</a></span>
            </div>
            <div class="column left">
                <span>{{ project.description }}</span>
            </div>
            <div class="column right">
                <span>{{ project.lastchanged }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
