{% extends "base.html" %}
{% block content %}
<div class="grid">
    <section>
        <header>
            {% if blob %}
            <div>{{ root | safe }}</div>
            {% else %}
            <div>{{ root | safe }}</div>
            <div>Commit</div>
            <div>Last change</div>
            {% endif %}
        </header>
        {% if blob %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <script src="/static/highlightjs-line-numbers.js"></script>
                <script>hljs.initLineNumbersOnLoad();</script>
        <pre>
            {% autoescape off %}
            <code>{{ blob | safe }}</code>
            {% endautoescape %}
        </pre>
        {% else %}
            {% for f in files %}
            <div>
                <div><a href="{{f.url}}">{{f.name}}</a></div>
                <div>asd</div>
                <div>2 days ago</div>
            </div>
            {% endfor %}
        {% endif %}
    </section>
</div>
{% if not blob %}
<hr>
<div class="grid">
    <section>
        <header>
            <div>Summary</div>
        </header>
        <div>
            <div>description</div>
            <div>{{ summary.desc }}</div>
        </div>
        <div>
            <div>owner</div>
            <div>{{ summary.owner }}</div>
        </div>
        <div>
            <div>last change</div>
            <div>{{ summary.lastchange }}</div>
        </div>
        <div>
            <div>remotes</div>
            <div>{{ summary.remotes | safe }}</div>
        </div>
        <div>
            <div>languages</div>
            <div>{{ summary.languages | safe }}</div>
        </div>
    </section>
</div>
<hr>
{% endif %}{% if readme %}
<h3>README.md</h3>
<div class="markdown">
    {{ readme | safe }}
</div>
{% endif %}
{% endblock %}
