{% extends "base.html" %}
{% block content %}
<div class="grid" id="layout">
    <section>
        {% autoescape off %}
        <h3><code>{{ root | safe }}</code></h3>
        {% endautoescape %}
        {% if blob %}
        <pre>
            {% autoescape off %}
            <code>
{{ blob | safe }}
            </code>
            {% endautoescape %}
        </pre>
        {% else %}
        <ul>
            {% for f in files %}
            <li><a href="{{f.url}}">{{f.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</div>
{% if readme %}
    {{ readme | safe }}
{% endif %}
{% endblock %}
