{% extends "base.html" %}
{% block content %}
<h3>{{ root | safe }}</h3>

{% if blob %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<div class="codeBlock">
    <pre>
        {% autoescape off %}
        <code>{{ blob | safe }}</code>
        {% endautoescape %}
    </pre>
</div>

{% else %}
<div class="grid">
    <section>
        <header>
            <div>Entry</div>
            <div>Commit</div>
            <div>Last change</div>
        </header>
        
        {% for f in files %}
        <div>
            <div>
                {% if f.type == "blob" %}
                <img class="textIcon" src="/static/file.png">
                {% else %}
                <img class="textIcon" src="/static/folder.png">
                {% endif %}
                <a href="{{f.url}}">{{f.name}}</a>
            </div>
            <div>{{ f.commit }}</div>
            <div>{{ f.lastchange }}</div>
        </div>
        {% endfor %}
    </section>
</div>
<hr>
<div class="grid">
    <section>
        <header>
            <div>Summary</div>
        </header>
        <div>
            <div>description</div>
            <div>{{ summary.desc }}</div>
        </div>
        <div>
            <div>owner</div>
            <div>{{ summary.owner }}</div>
        </div>
        <div>
            <div>last change</div>
            <div>{{ summary.lastchange }}</div>
        </div>
        <div>
            <div>remotes</div>
            <div>{{ summary.remotes | safe }}</div>
        </div>
        <div>
            <div>languages</div>
            <div>{{ summary.languages | safe }}</div>
        </div>
    </section>
</div>
<hr>
{% endif %}

{% if readme %}
<h3>README.md</h3>
<div class="markdown">
    {{ readme | safe }}
</div>
{% endif %}
{% endblock %}
