{% extends "base.html" %}
{% block content %}

<section class="simple">
    <div class="container">
        <div class="row header">
            <div class="column left">
                <span>Name</span>
            </div>
        </div>
        {% for service in services %}
        <div class="row">
            <div class="column left">
                <span>
                    <a href="{{ service.url }}">{{ service.name }}</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
