{% extends "base.html" %}
{% block content %}
<div class="grid">
    <section>
        <header>
            <div>Summary</div>
        </header>
        <div>
            <div>Filename</div>
            <div>{{ param.name }}</div>
        </div>
        <div>
            <div>Mimetype</div>
            <div>{{ param.mime }}</div>
        </div>
        <div>
            <div>Size</div>
            <div>{{ param.size }}</div>
        </div>
    </section>
</div>
<hr>

{% if param.minor == "text" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<div class="codeBlock">
<pre>
    {% autoescape off %}
    <code>{{ param.content | safe }}</code>
    {% endautoescape %}
</pre>
</div>

{% elif param.content == "Too large file" %}
<p>{{ param.content }}

{% elif param.minor == "image" %}
{% autoescape off %}
<div class="image">
    <img src="{{ param.content | safe }}"/>
</div>
{% endautoescape %}

{% elif param.minor == "audio" %}
{% autoescape off %}
<div class="audio">
    <audio controls src="{{ param.content | safe }}"/>
</div>
{% endautoescape %}

{% elif param.minor == "video" %}
{% autoescape off %}
<div class="video">
    <video controls>
        <source type="{{ param.mime | safe }}" src="{{ param.content | safe }}">
    </video>
</div>
{% endautoescape %}

{% else %}
<p>{{ param.content }}</p>

{% endif %}
{% endblock %}
